body {
    margin-bottom: calc( 2em + 20px + 2em );
}

footer {
    text-align: center;
    width: 100%;
    padding: 1em;
    font-size: 20px;
    background-color: #202020;
    position: fixed;
    bottom: 0;
}
