#ShortAppInfoAndLogin{
    width: 60vw;
    margin-left: 20vw;

}
#ShortAppInfoAndLoginH1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
    color: white;
}
#ShortAppInfoAndLoginP{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    color: white;
}
