#quizzes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2em;
}

.quizzTile {
    padding: 7px;
    cursor: pointer;
    height: fit-content;
    width: 27%;
    border: 2px solid #0a0a0a;
    background-color: #202020;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #0a0a0a;
    transition: transform 0.5s, box-shadow 0.7s;
}

.quizzTile:hover {
    box-shadow: 5px 10px 5px 5px #0a0a0a;
    transform: scale(1.05) translate(-10px, -10px);
    transition: transform 0.7s, box-shadow 1.0s;
}

.quizzTile span {
    margin: 20px;
}

.quizzTile img {
    border-radius: 10px;
    width: 100%;
    height: 80%;
}
